[Unit]
Description=(un)mount all chia-labelled drives and mergerfs filesystem

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/local/bin/chiamount --mount --mergerfs /mnt/garden
ExecStop=/usr/local/bin/chiamount --unmount

[Install]
WantedBy=multi-user.target
