[Unit]
Description=PlotSink Service
After=gardenmount.service
Wants=gardenmount.service

[Service]
Type=simple
ExecStart=/usr/local/bin/plotsink.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
