[DEFAULT]
WALLET_ADDRESS = YOUR_XCH_WALLET_ADDRESS_HERE

#ELECTRICITY PRICE IN USD (eg 0.1 for 10ct)
ELECTRICITY_PRICE_USD = 0.1 

[DEVICES_IP]
#IP adresses of your tasmota power plugs that measure your farming devices

node-server = 192.168.30.32
netapp1 = 192.168.30.101
netapp2 = 192.168.30.102
netapp3 = 192.168.30.103

[DEVICES_POWER_DRAW]
#if you dont have a tasmota plug, or if the retrieving of power consumption fails for some reason this is the power draw in WATTS which will be used instead
node-server = 120