[Unit]
Description=PlotSink Service

[Service]
Type=simple
ExecStart=/usr/local/bin/taco_list --seperator space --subdir gigahorse/ --command "/usr/local/bin/chia_plot_sink --"
Restart=always
RestartSec=10
StandardOutput=file:/var/log/plotsink.log
StandardError=file:/var/log/plotsink.log

[Install]
WantedBy=multi-user.target
