#plot_starter config file

plotterbin="/usr/local/bin/cuda_plot_k32"           # Path to plotter binary
chia_plot_copy_bin="/usr/local/bin/chia_plot_copy"  # Path to chia_plot_copy binary

# These are typical values needed to be set to start plotting
contract="POOL_CONTRACT_ADDRESS"    # Pool Contract Address (62 chars), empty if not used
farmerkey="FARMER_KEY"   # Farmer Public Key (48 bytes), empty if not used
level="18"       # Compression level (1 to 9 and 11 to 20)
count="-1"     # Number of plots to create (default = 1, unlimited = -1)
finaldir="@192.168.31.33"    # Final destinations (default = <tmpdir>, remote = @HOST)
tmpdir="/mnt/plotting"      # Temporary directories for plot storage (default = $PWD)
tmpdir2=""     # Temporary directory 2 for partial RAM/disk mode (default = @RAM)
tmpdir3=""     # Temporary directory 3 for disk mode (default = @RAM)

# These values are less often used
port=""        # Network port (default = 8444, MMX = 11337)
device=""      # CUDA device (default = 0)
ndevices=""    # Number of CUDA devices (default = 1)
dstport=""     # Destination port for remote copy (default = 1337)
waitforcopy="" # Wait for copy to start next plot (false)
poolkey=""     # Pool Public Key (48 bytes), empty if not used
unique=""      # Make unique plot (false)
directio=""    # Use direct IO for final copy (false, Linux only)
streams=""     # Number of parallel streams (default = 3, must be >= 2)
chunksize=""   # Bucket chunk size in MiB (default = 16, 1 to 256)
maxtmp=""      # Max number of plots to cache in tmpdir (default = -1)
copylimit=""   # Max number of parallel copies in total (default = -1)
maxcopy=""     # Max number of parallel copies to same HDD (default = 1, unlimited = -1)
memory=""      # Max shared/pinned memory in GiB (default = unlimited)

### Variables for the guru-mediation option. 
### It delays start of the plotting process if the system has rebooted (crashed) too often
### This is a known behaviour if a nvme is worn out, or the PSU is overloaded
 
guru_meditation=false   
max_reboots=2           # If the system has rebooted more than x times...
lastminutes=120         # ...in the last y minutes...
cooldowntime=15         # ...delay the start of the plotting process by z minutes