#plot_starter config file

farmerkey=YOUR_FARMER_KEY
contract=POOL_CONTRACT_ADDRESS

plotamount=-1 #amount of plots to create. set to -1 to infinite
compression=8 #compression level
plotting_dir="/mnt/plotting" # your temporary plotting dir (-t in cuda_plot_k32)
dest_dir=192.168.31.33 # set to a destination dir or a host where plotsink is running
plotterbin="/usr/local/bin/cuda_plot_k32"
chia_plot_copy_bin="/usr/local/bin/chia_plot_copy"


### Variables for the guru-mediation option. 
### It delays start of the plotting process if the system has rebooted (crashed) too often
### This is a known behaviour if a nvme is worn out
guru_meditation=true   # (true or false)
max_reboots=2           # How many times your machine had a reboot...
lastminutes=120         # ...in the last X minutes
cooldowntime=15         # if above matches: how long to wait (minutes) before starting the plotter

