##Chiagarden plot_over config file

#Dry run is enabled by default, to ease your mind. set to false, to actually use plot_over
dry_run=true

# minimum free space in GB
min_free_space="200"

# desired amount of disks with min_free_space
amount_free_disks="10"

# comma-separated list of Plot Compressions levels that you would like to replot. Those will be (gradually) removed.
# this example would replot to C18
replot_levels="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,19,20"

# Default parameter for your label. Can also be set in commandline.
label="CHIA"

# If you didnt label your drives with chiainit, you can set a parent mount dir where your your chia disks are mounted in.
# mount_dir and "label" cannot be used at the same time.
#mount_dir=/media/root/

# Default parameter for your first subdirectory for plots in Disk. Can also be set in commandline.
subdir=""

# maximum search depth for plot files - how many subdir levels should we iterate?
search_depth="10"

# rescan every xx seconds. this is AFTER removal of plot files in one iteration is finished. it is okay to set this relatively low (30s)
interval="30"

# set to a valid path or leave empty to disable logging. Ignored (set empty) when plot_over is run from systemd
logfile="./plot_over.log"

# set to true to display the paths that are searched for plot files
display_search_paths="false"
