[Unit]
Description=Chiagarden plot_over
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/plot_over --config /etc/chiagarden/plot_over.config
#ExecStart=/usr/local/bin/plot_over

Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
